*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 30px;
}

html body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header and nav */
nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
}

.nav-ul{
    margin-left: 25px;
}

.nav-li{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    margin-left: 30px ;
}

.nav-li::after{
    position: absolute;
    content:"";
    top: 25px;
    right: -15px;
    border-right:1px solid rgba(128, 128, 128, 0.26) ;
    height: 30px;
}

.courses{
    padding-right: 30px;
}

#arrow{
    position: absolute;
    left: 83px;
    top: 27px;
    font-size: 20px;
}

.logo{
    display: inline-block;
    padding: 30px 0 30px 30px;
    cursor: pointer;
    margin-left: 100px;
}

.nav-li-ul{
    display: none;
    list-style-type: none;
    background: #eee;
    border-radius: 5px;
    position: absolute;
    right: -25px;
    text-align: justify;
    width: 150px;
    margin-top: 20px;
    z-index: 100;
}

.nav-li-ul li{
    font-size: 20px;
    line-height: 40px;
    padding-left: 20px;
}
.main-img-container{
    position: relative;
    height: 50vh;
}

.main-img-container::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 90%;
    background: rgba(80, 77, 77, 0.219);
    top: 85%;
    left: 5%;
    border-radius: 50%;
}

.main-first-img{
    width: 300px;
    height: 300px;
    margin: 100px auto 200px auto;
    display: block;
}

    /* Header and nav */

        /* Main */

main{
    background: #eee;
}

    /* Courses */

.main-courses-container{
    background: #eee;
}

.grid-courses-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    justify-content: center;
    grid-gap: 50px;
    padding: 0 0 60px 0;
}

.main-courses-title{
    text-align: center;
    padding: 30px 0 60px 0;
}

.course-img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.course-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Courses */

    /* Contact section */

.main-contact{
    background: rgb(251, 143, 255);
    height: 270px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-contact h2{
    line-height: 50px;
    color: rgb(247, 238, 238);
    font-size: 35px;
}

.main-contact p{
    color: rgb(247, 238, 238);
    font-size: 23px;
}

.contact-button{
    background: white;
    color: black;
    margin-top: 20px;
    padding: 5px 30px 5px 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.contact-button:hover{
    background: rgb(235, 234, 234);
}
    /* Contact section */

    /* About me */

    .main-about-container{
        border-radius: 10px;
        background: rgb(190, 76, 194);
        height: 500px;
        width: 70vh;
        margin: 50px auto;
        box-shadow: 0px 0px 24px 5px rgba(253, 160, 255, 1);
        -webkit-box-shadow: 0px 0px 24px 5px rgba(253, 160, 255, 1);
        -moz-box-shadow: 0px 0px 24px 5px rgba(253, 160, 255, 1);
    }

    .about-title{
        text-align: center;
        padding-top: 50px;
        font-size: 40px;
        color: rgb(230, 218, 218);
    }

    .about-text{
        font-size: 25px;
        margin-top: -10px;
        text-align: justify;
        padding: 50px;
        color: rgb(230, 218, 218);
    }
    
    /* About me */

    /* Galerry */

.gallery-container{
    margin: 30px;
    padding: 50px;
}

.gallery-container h2{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

    /*Slider*/
 
.splide{
    margin: 30px auto;
    box-shadow: 0px 2px 17px -2px rgba(253, 0, 255, 1);
    -webkit-box-shadow: 0px 2px 17px -2px rgba(253, 0, 255, 1);
    -moz-box-shadow: 0px 2px 17px -2px rgba(253, 0, 255, 1);
}

.splide__track{
    border-radius: 5px;
}

.splide__arrow{
    background: none;
}

path{
    fill: white;
}

.splide img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.splide__pagination__page{
    display: none;
}

     /*Slider*/
    /* Gallery */

    /* MAIN */

    /* Footer */

footer{
    background: rgb(185, 183, 183);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-ul{
    align-self: flex-start;
    margin: 15px 30px 15px 250px;
}

.footer-li{
    display: inline-block;
    position: relative;
    margin: 10px;
}

.footer-li:link, .footer-li:visited{
    color: initial;
}

.footer-li::before{
    background: rgba(0, 0, 0, 0.37);
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 2px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.footer-li:hover::before{
    opacity: 1;
}

.footer-li a{
    text-decoration: none;
    font-size: 20px;
}

.footer-ul-social{
    margin-right: 30px;
    margin-bottom: 15px;
    align-self: flex-end;
}

.footer-li-social{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(41, 41, 41);
    text-align: center;
    display: inline-block;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.footer-li-social i{
    font-size: 20px;
    color: #eee;
    text-align: center;
}

.footer-li-social:hover{
    background: rgba(0, 0, 0, 0.938);
}