/* Main */

main {
    background-image: url(../../images/watercolor.png);
    /* background: linear-gradient(90deg, #EF629F 0%, #EECDA3 100%); */
}

/* Courses */

.main-courses-container{
    margin-top: 140px;
}

.grid-courses-container {
    height: 1500px;
    display: grid;
    grid-template-columns: repeat(2,minmax(50px,400px));
    grid-template-rows: 600px 600px;
    grid-column-gap: 30%;
    grid-row-gap: 100px;
    padding: 50px 100px 100px 100px;
    place-content: center;
    
}

.main-courses-title {
    text-align: center;
}

.course-card{
    background: blue;
    border-radius: 10px;
    transition: box-shadow .1s, transform .2s;
}

.course-card:hover{
box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.79);
-webkit-box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.79);
-moz-box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.79);
transform: scale(1.05);
}

.course-div{
    width: 100%;
    height: 350px;
}

.course-div img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.course-card p{
    text-align: center;
    padding: 20px;
    width: 100%;
    height: calc(100% - 350px);
}

/* Courses */

/* Contact section */

.main-contact {
    background: #ffeae0;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-contact h2 {
    line-height: 50px;
    color: black;
    font-weight:500;
    font-size: 35px;
}

.main-contact p {
    color: black;
    font-size: 23px;
}

.contact-button {
    background: white;
    color: black;
    margin-top: 20px;
    padding: 5px 30px 5px 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.contact-button:hover {
    background: rgb(194, 192, 192);
}

/* Contact section */

/* About me */

.main-about-container {
    border-radius: 10px;
    background: rgb(190, 76, 194);
    color: rgb(230, 218, 218);
    height: 500px;
    width: 50%;
    margin: 30px auto;
    font-size: 25px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 24px 5px rgba(253, 160, 255, 1);
    -webkit-box-shadow: 0px 0px 24px 5px rgba(253, 160, 255, 1);
    -moz-box-shadow: 0px 0px 24px 5px rgba(253, 160, 255, 1);
    line-height: 40px;
}

.about-title {
    display: block;
    margin-bottom: 50px;
    color: rgb(230, 218, 218);
}

/* About me */

/* Galerry */

.gallery-container {
    margin: 30px;
    padding: 50px;
}

.gallery-container h2 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

/*Slider*/

.splide {
    margin: 30px auto;
}

.splide__track {
    border-radius: 5px;
}

.splide__arrow {
    background: none;
}

path {
    fill: white;
}

.splide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.splide__pagination__page {
    display: none;
}

.up-button{
    background: rgb(255, 176, 189);
    border-radius: 50%;
    text-align: center;
    position: fixed;
    left: 50px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}

.up-button i{   
    color: rgb(49, 48, 48);
    line-height: 50px;
}

/*Slider*/
/* Gallery */

/* MAIN */


/* Responsive */

@media screen and (max-width: 1355px){
    .main-about-container{
        width: 65%;
    }
}

@media screen and (max-width: 1045px){
    .main-about-container{
        font-size: 24px;
    }
    .about-title{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 905px){
    .main-about-container{
        width: 73%;
    }
}

@media screen and (max-width: 768px){
    .main-about-container{
        font-size: 22px;
        line-height: 36px;
    }
}

@media screen and (max-width: 540px){
    .main-about-container{
        font-size: 17px;
        line-height: 32px;
    }
    .about-title{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 414px){
    .main-about-container{
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 375px){
    .main-about-container{
        font-size: 17px;
        line-height: 15px;
        height: 400px;
    }
    .about-title{
        font-size: 25px;
    }
}

@media screen and (max-width: 320px){
    .main-about-container{
        font-size: 12px;
        line-height: 13px;
        height: 300px;
    }
    .about-title{
        font-size: 22px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 280px){
    .main-about-container{
        height: 300px;
        font-size: 10.5px;
        line-height: initial;
    }
    .about-title{
        margin-bottom: 10px;
        font-size: 15px;
    }
}